<div class="jumbotron">
    <h1>Owyhee Motorcycle Club</h1>
    <p class="lead">View series points, race results, and rider profiles.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Series Points</h2>
        <p>View Race Series Points.</p>
        <p>@Html.ActionLink("Series Points \u00BB", "Series", "Home", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Race Results</h2>
        <p>View the recent race results.</p>
        <p>@Html.ActionLink("Race Results \u00BB", "Events", "Home", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Racer Search</h2>
        <p>Search for a racer using First Name, Last Name, or Rider Number.</p>
        @using (Html.BeginForm("Riders", "Home", FormMethod.Post, new { @class = "navbar-form navbar-left", @role = "search" }))
        {
            <p>
                <div class="form-group">
                    @Html.TextBox("searchText", null, new { @class = "form-control", @placeholder = "Rider Name or Number" })
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </p>
        }
    </div>
</div>